*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navigationBar{
    height: 100px;
    background-color: rgb(70, 67, 67);
    min-width: 1365;
}

.scroll{
    overflow:auto ;
}

.loggedInNav{
    display: flex;
    justify-content: space-between;
    
}

.loggedOutNav{

    justify-content: space-between;
    
}

.loginMenuItem{
    display: flex;
    justify-content: space-between;
    
}

.login{
    margin-right: 30px;
    margin-top: 10px;
}

.register{
    margin-right: 30px;
    margin-top: 10px;
    margin-left: 30px;
}

.menuItem{
    margin-right: 30px;
    margin-top: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.home{
    margin-left: 50px;
}

.homeAbout{
    display: flex;
}

.mainBody{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
  

}

.bodyLayout{
    
    display: flex;

}

.contentBackground{
    min-height: 100vh;
    flex: 3;
    justify-content: center;
    display: flex;
}
.background{
    background-color: rgb(53, 241, 163);
    flex-grow: 1;
}

.maincontent{
    display: flex;
    flex: 3;
}

#content{
    width: 100%;
    margin: 25px;
}

.content{
    display: inline-block;
    flex-grow: 3;
}

.postby{
    box-shadow: 0px 0px 7px black;
    padding-left: 5px;

    /* background-color: rgb(243, 247, 252); */
}

.form-control{
    width: 98%;
}

.postform{
    padding-top: 5px;
    
   
}

.entireform{
    padding-top: 10px;
}

.posttemplate{
    margin-top: 10px;
    border: 1px;
    border-color: rgb(72, 143, 133);
    background-color: rgb(0, 255, 242);
    box-shadow: .1px .1px 10px black;

}

.postbutton{
    padding-bottom: 10px;
}

.messagePopUp{
    position: absolute;
    bottom: 0;
    right: 10px;
}



.open{
    max-height: 36px;
    transition: max-height 10s;
}

.blogcontent{
    max-width: 20px;
}

.authordate{
    display: flex;
}
.author{
    margin-inline: 5px;
}

.bloglayout{
    padding:5px;
}

.viewpost{
    display: inline-block;
    padding: 10px;
    background-color: rgb(126, 225, 250);
    box-shadow: 0 0 1px;
}

.delete{
    display: inline-block;
    padding: 10px;
    background-color: rgb(126, 225, 250);
    box-shadow: 0 0 1px;
}