{% extends "layout.html" %}
{% block content %}

{% if posts %}
{% for post in posts %}

<div class="posttemplate">

    <div class="bloglayout">
        <div class="authordate">
            <div class="date">
                <i>by {{post.post.username}} on {{post.date.strftime('%d-%m-%Y at %H:%M')}}</i>
            </div>
            <img src="{{url_for('static', filename=post.post.image_file) }}" class="profileAvatar" />
        </div>


        <h1>
            "{{ post.title }}" &nbsp
        </h1>
        </br>
        <div class="blogcontent">

            {{ post.content | safe}}

        </div>

    </div>

    <div class="btn btn-success viewdelete">
        <a class="viewpost" href=" {{ url_for('individualpost', id=post.id)}}">View Post</a>

    </div>

    {% if current_user.id == post.poster_id %}
    <div class="btn btn-success viewdelete">
        <a class="delete" href="{{ url_for('delete_post', id=post.id)}}">Delete Post</a>
    </div>
    {% endif %}

</div>

{% endfor %}
{% else %}
<div class="emptyposts">
    <p>
        There are no Posts to see here!
    </p>

</div>
{% endif %}

{% endblock content %}