{% extends "layout.html" %}

{% block content %}

<div class="posttemplate ">

    <div class=" fullpost">
        <p>
            "{{ post.title }}" &nbsp
        </p>
        <br />

        <div class="authordate">
            <p>
                by
            <div class="author">
                {{post.post.username}}
            </div>
            <div class="date">
                {{post.date}}
            </div>
            </p>
        </div>
        <br />
        <p>
        <div class="blogcontent"></div>
        {{ post.content | safe }}
        </p>
        {% if current_user.id == post.poster_id %}
        <div class="btn btn-success">
            <a class="delete" href="{{ url_for('delete_post', id=post.id)}}">Delete Post</a>
        </div>
        {% endif %}
    </div>


</div>

<!-- comment box here -->

<div class="comment">

    <form method="POST">
        {{usercomments.csrf_token}}
        <div class="titlelabel ">
            {{usercomments.comment.label (class='form-label')}}
        </div>

        <div class="commentinput ">
            {{usercomments.comment(class='form-control')}}
        </div>

        <div class="addcomment">
            <input type="submit" value="Comment" />
        </div>

    </form>
</div>

<!-- show comments should go here -->

{% for comment in comments %}

<div class="commentsection">
    <div class="commentdelete">
        <div class="actualcomment">
            {{comment.comment}}
        </div>

        <div class="commenterID">
            {{comment.userCommentsRelationship.username}}
        </div>

        {% if current_user.id == comment.commenter_id %}
        <div class="btn btn-success" class="delete">
            <a class="buttonlink" href=" {{ url_for('delete_comment', id=comment.id, post_id=post.id)}}">Delete
                Comment</a>
        </div>
        {% endif %}
    </div>
</div>

{% endfor %}

{% endblock content %}