{% extends "layout.html" %}

{% block content %}

    <div class="posttemplate">

        <div class="bloglayout">
            <p>
                "{{ post.title }}" &nbsp
            </p>
                <br/>
        
            <div class="authordate">
                <p>
                    by <div class="author">

                    </div>
                    <div class="date">
                        {{post.date}}
                    </div>
                </p>
            </div>    
                <br/>
            <p> <div class="blogcontent"></div>
                {{ post.content }}
            </p>

            <div class="delete">
                <a href="Delete">Delete Post</a>
            </div>

        </div>
        
    
    </div>
    
{% endblock content %}