<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8">
    <title>My Wonderful Site</title>

    <div class="navigationBar">

        {% if current_user.is_authenticated %}

        <div class="loggedInNav">
            <div class="homeAbout">
                <div class="home menuItem"><a href="{{ url_for('home') }}">Home</a>&nbsp</div>
        
                <div class="about menuItem"><a href="{{ url_for('about') }}">About Me</a></div>

                <div class="post menuItem"><a href="{{ url_for('add_blog') }}">Post</a>&nbsp</div>
            </div>
           
        
            <div class="logout menuItem"><a href="{{ url_for('logout') }}">Logout</a></div>
        </div>
        
    
        {% else %}

        <div class="loggedOutNav">
            <div class="loginMenuItem">
                <div class="register">
                    <div><a href=" {{ url_for('register') }}">Register</a></div>
                </div>
                
                <div class="login">
                    <div><a href="{{ url_for('login') }}">Login</a></div>
                </div>
                
                
            </div>
        </div>
       
       
    
        {% endif %}

    </div>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
</head>

<body class="mainBody">
    <div id="header">
    </div>
    {% with messages = get_flashed_messages() %}
    <div class="popup {{'open' if messages}}">
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    

    <div class="bodyLayout" >

        <div class="background contentBackground">
    
    
        </div>

        <div class="mainContent contentBackground">


            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            
            
    
    
        </div>

        <div class="background contentBackground">
            
    </div>
    
    
</div>



</body>


</html>