<!DOCTYPE html>
<html dir="ltr" lang="en">
    
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css" integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">
        <title>My Wonderful Site</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        
    <div class="navigationBar ">

        {% if current_user.is_authenticated %}

        <div class="loggedInNav">
            <div class="homeAbout">
                <div class="home menuItem"><a href="{{ url_for('home') }}">Home</a>&nbsp</div>
        
                <div class="profile menuItem"><a href="{{ url_for('profile') }}">Profile</a>&nbsp</div>

                <div class="post menuItem"><a href="{{ url_for('add_blog') }}">Post</a>&nbsp</div>
            </div>
        
        
            <div class="logout menuItem"><a href="{{ url_for('logout') }}">Logout</a></div>
        </div>
        
    
        {% else %}

        <div class="loggedOutNav">
            <div class="loginMenuItem">
                <div class="register">
                    <div><a href=" {{ url_for('register') }}">Register</a></div>
                </div>
                
                <div class="login">
                    <div><a href="{{ url_for('login') }}">Login</a></div>
                </div>
                
                
            </div>
        </div>
       
       
    
        {% endif %}

    </div>
</head>

<body class="mainBody">
    <div id="header">
    </div>
    
    
    
    <div class="bodyLayout " >
        
        {% with messages = get_flashed_messages() %}
        
            {% if messages %}
                <div class="messagePopUp">
                    {% for message in messages %}
                
                        <div class="alert alert-warning alert-dismissible fade show " role="alert">
                            <strong>{{ message }}</strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
        <div class="background contentBackground">
    
    
        </div>

        <div class="mainContent contentBackground">


            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            
            
    
    
        </div>

        <div class="background contentBackground">
            
    </div>
    
    
</div>



</body>


</html>